* {
   background-color: #e6f5f8;
}

.img {
    width: 250px;
    height: 250px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 140px;
}

p {
    width: 250px;
    font-size: 20px;
    font-weight: bold;
}

.post {
    width: 250px;
    padding-right: 20px;
}

.button {
    display: flex;
    width: 30%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around; 
}

button {
    cursor: pointer;
}